/* ==========================================
   CSS TÙY CHỈNH (HELI-TECH)
   ========================================== */
html { 
    scroll-behavior: smooth; 
    scroll-padding-top: 5rem; 
}

body { 
    overflow-x: hidden; 
    background-color: #f3f4f6; 
}

/* Hiệu ứng bóng đổ thẻ sản phẩm */
.tech-shadow { 
    box-shadow: 0 4px 15px rgba(0,0,0,0.05); 
}

.tech-shadow:hover { 
    box-shadow: 0 10px 25px rgba(215, 0, 24, 0.15); 
}

/* Hiệu ứng chuyển màu menu */
.nav-link { 
    transition: all 0.3s ease; 
}